body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-transform: capitalize;
    text-align: center;
}



.Heading, .textLogo, .textInput {
    color: white;
    padding: 50px;
}



textarea {
    max-width: 95%;
}



a {
    text-decoration: none;
}



/******************************************
        Styling for the buttons    
******************************************/

.main_btn, .addNew_btn {
    background-color: yellow;
    border-radius: 20px;
    transition-duration: 0.3s;
}


.main_btn {
    padding: 10px;
    font-size:x-large;
    width: 25%;
}


.main_btn:hover {
    background-color: greenyellow;
}


.main_btn:active {
    background-color: greenyellow;
    box-shadow: 0 5px greenyellow;
    transform: translateY(2px);
}


.addNew_btn {
    padding: 2px 20px;
    font-size: xx-large;
    color: white;
}


.addNew_btn:hover {
    background-color: greenyellow;
}


.addNew_btn:active {
    background-color: greenyellow;
    box-shadow: 0 5px greenyellow;
    transform: translateY(2px);
}


.action_btn {
    font-size: larger;
    display: flex;
    justify-content: space-between;
}

/****************************************
        End of button styling
****************************************/


footer {
    color: white;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;
}